body {
  background-color: white !important;
  overflow: hidden;
  font-family: "McLaren", cursive;
  font-family: "Righteous", cursive;
  font-family: "Rajdhani", sans-serif;
  font-size: 40px !important;
}
