body {
  background-image: url("images/fifa.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}
#score{
  font-size: 60px;
  width: 20%;
  margin-left:5%;
  margin-top:5%;
  height: 70px;
  background-color: rgba(223, 107, 107, 0.5);
  border-radius: 15%;
  
}
#example {
  border: 0px solid black;
  border-radius: 3px;
  width: 532px;
  height: 680px;
  background-color: #ddd;
  background-image: url("images/soccer.jpg");
  background-size: contain;
}
#start {
  width: 30vh;
  height: 10vh;
  cursor: pointer;
}
#start:hover {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
.shaking {
  animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
canvas {
  position: center;
}